<strong>Hello {{ provider }}</strong>
<p>An schedule was canceled, details below:</p>
<p>
  <strong>Customer: </strong> {{ user }} <br>
  <strong>Date/Hour</strong> {{ date }} <br>
  <br>
  <small>The schedule is again available for appointments.</small>
</p>